# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
env/
ENV/
.venv/

# Environment Variables
.env
.env.local

# Streamlit
.streamlit/

# Machine Learning & Data Assets
*.csv
*.xlsx
data/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
